<% include ./partial/header %>
<div style="padding-top: 60px;">
  <h1 style="padding-left: 0px; text-align: center;">
    Leave Portal, BIT SINDRI<h1>
  </h1>
<!-- <img src="https://i.ibb.co/wYSfd4G/it-building.jpg" alt="it-building" border="0"> -->
<div style="padding-left: 260px"><img src="https://i.ibb.co/DwqzdWp/bit.jpg" height= "400px" width="80%" alt="bit" border="0">
  <img src="https://i.ibb.co/5vnZWsg/placements.jpg" width="80%" height="180px" alt="placements" border="0"></div>
<hr>
<p style="padding-left: 30px; padding-right:30px; color:white; ">
  BIT Sindri is endowed with a magnificent campus, distinguished faculties, excellent management, and an ambiance to excel in academic and co-curricular spheres. The primary aim of the Institute is to cater to the requirements of the country for Technological Manpower for development and research programs comparable to the best of the world. The college today offers B.Tech courses in 10 disciplines of engineering, namely Mechanical, Electrical, Metallurgy, Production, Chemical, Electronics & Communications, Civil, Mining, Computer Science, and Information technology.  The college has top-notch amenities, which include multimedia auditoriums, seminar rooms, a state-of-the-art, well-stocked rich e-library, well-equipped modern laboratories, and a campus-wide network. The college has various co-curricular activities, fully residential hostels, good sports facilities, and a never-dying zeal of staff and students that paves a path for the pursuit of excellence. They provide a pleasant, intellectually stimulating, proactive, and conducive environment for students to feed their curiosities and interests and help them prepare for professional, academic, and social life.

</p>
<hr>
<div class="container">
  <div class="row" style="padding-bottom:40px; ">
    <div class="col-sm-4">
      <div class="card" style="background-color: black;">
        <img
          class="card-img-top"
          style="height: 300px;"
          src="https://i.ibb.co/wChmQpM/director.jpg"
          alt="Card image"
        />
        <div class="card-body">
          <h4 class="card-title">Dr. Pankaj Kumar Rai</h4>
          <p class="card-text" style="color: white;">The Director, BIT Sindri</p>
          <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="card" style="background-color: black;">
          <img
            class="card-img-top"
            style="height: 300px;"
            src="https://i.ibb.co/VNnBM2J/S-C-dutta.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Dr. S. C. Dutta</h4>
            <p class="card-text" style="color: white;">Head of Department, CSE/IT</p>
            <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <div class="card" style="background-color: black;">
          <img
            class="card-img-top"
            style="height: 300px;"
            src="https://i.ibb.co/z8t4JpX/Akram-khan.jpg"
            alt="Card image"
          />
          <div class="card-body">
            <h4 class="card-title">Prof. Md Akram Khan </h4>
            <p class="card-text" style="color: white;">Assistant Professor, CSE/IT</p>
            <!-- <a href="#" class="btn btn-warning card-link">View Profile</a> -->
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <p style="padding-left: 370px; color: azure;">To know more about the college , <a href="https://www.bitsindri.ac.in/">click here</a></p>
    </div>
   
    
      </div>
    </div>
  </div>
  <hr>
      </div>
<!-- </div> -->
<% include ./partial/footer %>